.title {
    padding: 0px 20px
}
.nav-color {
    background-color: #008BF8;
    color: white;
}
.nav-link {
    color: white!important;
}
.nav-link:hover {
    color: #1be7ff!important;
}
.m-15 {
    margin: 15px!important
}
.m-15-top {
    margin-top: 15px!important;
}
.pagecard {
    margin: 15px 0px;
}





.footer {
    background-color: #0071c8;
    border-top: 5px solid #d81159;
}
.flinks {
    display: flex;
    justify-content: space-evenly;
}
.flinks a {
    color: rgb(190, 190, 190);
    padding: 30px 0px;
}
.flinks a:hover {
    color: #E4FF1A;
}